# Product Analysis Assignment
You work for "TechGadget Store" and need to analyze their product inventory. load TechGadget datasets and Use it to answer the following business questions.

In [1]:
# First of all import the pandas library

import pandas as pd
print("Pandas is successfully imported")

Pandas is successfully imported

In [6]:
# Then load the datasets

techgadget_products = pd.read_csv(r"datasets\techgadget_products.csv")
print("Techgadget_products is loaded successfully")

Techgadget_products is loaded successfully

### Question 1: Dataset Overview

In [8]:
# a) What is the shape of the dataset?

print("datasets shade")
techgadget_products.shape

datasets shade

(30, 6)

In [18]:
techgadget_products.describe()

           Price  Stock_Quantity
count  30.000000       30.000000
mean   57.091667      117.166667
std    30.070292       71.722686
min    10.670000       11.000000
25%    29.685000       56.000000
50%    54.695000      116.500000
75%    84.535000      170.500000
max    95.900000      236.000000

In [10]:
# b) Display the first 5 products

print("First 5 rows")
techgadget_products.head(5)

First 5 rows

  Product_ID Product_Name     Category  Price  Stock_Quantity    Supplier
0      TG001     Gadget 1     Charging  10.67             132  ChargeFast
1      TG002     Gadget 2     Charging  65.46             234    TechCorp
2      TG003     Gadget 3  Accessories  44.85              11    DeskMate
3      TG004     Gadget 4     Charging  92.02              42   PowerPlus
4      TG005     Gadget 5        Audio  49.79              12    SoundMax

In [17]:
# c) What are all the unique categories?

print("Unique categories")

unique_categories = techgadget_products["Category"].unique() 
print(unique_categories)

Unique categories
['Charging' 'Accessories' 'Audio' 'Cables' 'Protection']

### Question 2: Price Analysis

In [22]:
# a) filtering the top 3 most expensive products

Top_3_expensive_products = techgadget_products[techgadget_products["Price"] > 80]
Top_3_expensive_products.head(3)

  Product_ID Product_Name  Category  Price  Stock_Quantity    Supplier
3      TG004     Gadget 4  Charging  92.02              42   PowerPlus
7      TG008     Gadget 8     Audio  82.83             195  ChargeFast
8      TG009     Gadget 9     Audio  95.23              98  ChargeFast

In [25]:
# b) Filtering all products priced above $50

Product_Name_and_Price = techgadget_products[techgadget_products[ "Price"] > 50]

print(Product_Name_and_Price)

   Product_ID Product_Name     Category  Price  Stock_Quantity    Supplier
1       TG002     Gadget 2     Charging  65.46             234    TechCorp
3       TG004     Gadget 4     Charging  92.02              42   PowerPlus
6       TG007     Gadget 7   Protection  57.67              54    SoundMax
7       TG008     Gadget 8        Audio  82.83             195  ChargeFast
8       TG009     Gadget 9        Audio  95.23              98  ChargeFast
9       TG010    Gadget 10       Cables  95.69             148    SoundMax
12      TG013    Gadget 13     Charging  51.72             228    DeskMate
14      TG015    Gadget 15     Charging  63.93              21    GuardPro
15      TG016    Gadget 16       Cables  83.29              75    DeskMate
20      TG021    Gadget 21  Accessories  94.77             206   PowerPlus
21      TG022    Gadget 22     Charging  92.27             129   PowerPlus
22      TG023    Gadget 23   Protection  71.17             171  ChargeFast
26      TG027    Gadget 27  Accessories  95.90              30    DeskMate
27      TG028    Gadget 28        Audio  82.88             204    SoundMax
28      TG029    Gadget 29  Accessories  94.85             236   PowerPlus
29      TG030    Gadget 30     Charging  84.95              74    SoundMax

In [27]:
# c) The average price of all products is:

average_price = techgadget_products["Price"].mean()
print("The average price of all products is: ")
average_price

The average price of all products is:

np.float64(57.091666666666676)

### Question 3: Inventory Management

In [33]:
# a) Filter products with less than 50 items in stock

products_less_than_50_items = techgadget_products[techgadget_products["Stock_Quantity"] < 50]

print("Products have less than 50 items")
products_less_than_50_items

Products have less than 50 items

   Product_ID Product_Name     Category  Price  Stock_Quantity    Supplier
2       TG003     Gadget 3  Accessories  44.85              11    DeskMate
3       TG004     Gadget 4     Charging  92.02              42   PowerPlus
4       TG005     Gadget 5        Audio  49.79              12    SoundMax
11      TG012    Gadget 12       Cables  40.21              39    TechCorp
14      TG015    Gadget 15     Charging  63.93              21    GuardPro
24      TG025    Gadget 25  Accessories  19.68              40  ChargeFast
26      TG027    Gadget 27  Accessories  95.90              30    DeskMate

In [38]:
# b) filtering to find all 'Charging' category products with their stock levels

charging_category_products = techgadget_products[techgadget_products["Category"] == "Charging"]

charging_category_products

   Product_ID Product_Name  Category  Price  Stock_Quantity    Supplier
0       TG001     Gadget 1  Charging  10.67             132  ChargeFast
1       TG002     Gadget 2  Charging  65.46             234    TechCorp
3       TG004     Gadget 4  Charging  92.02              42   PowerPlus
12      TG013    Gadget 13  Charging  51.72             228    DeskMate
14      TG015    Gadget 15  Charging  63.93              21    GuardPro
21      TG022    Gadget 22  Charging  92.27             129   PowerPlus
29      TG030    Gadget 30  Charging  84.95              74    SoundMax

In [49]:


# c) filtering to find Which supplier provides the most products

supplier_provide_most_products = techgadget_products["Supplier"].value_counts()

# Display the full count list
print("Number of products supplied by each supplier:")
print(supplier_provide_most_products)

# Get the supplier with the most products
top_most = supplier_provide_most_products.idxmax()
most_products = supplier_provide_most_products.max()

Number of products supplied by each supplier:
Supplier
ChargeFast    8
DeskMate      6
SoundMax      6
PowerPlus     5
GuardPro      3
TechCorp      2
Name: count, dtype: int64

### Question 4: Business Insights

In [63]:
# a) Find expensive accessories (Accessories category, price > $30)

expensive_accessories = techgadget_products[
    (techgadget_products["Category"] == "Accessories") & 
    (techgadget_products["Price"] > 30)
]

expensive_accessories

   Product_ID Product_Name     Category  Price  Stock_Quantity   Supplier
2       TG003     Gadget 3  Accessories  44.85              11   DeskMate
13      TG014    Gadget 14  Accessories  43.53             214   SoundMax
20      TG021    Gadget 21  Accessories  94.77             206  PowerPlus
23      TG024    Gadget 24  Accessories  30.36             146   DeskMate
26      TG027    Gadget 27  Accessories  95.90              30   DeskMate
28      TG029    Gadget 29  Accessories  94.85             236  PowerPlus