# Quick Shop Online â€“ Order Data Cleaning Challenge assignment

In [90]:
# start import pandas and numpy libraries

import pandas as pd

import numpy as np

print("Successfully imported.")

Successfully imported.

In [91]:
# load data cleaning dataset

# Alternative way using double backslashes
data_cleaning_challenge = pd.read_csv("datasets\\messy_order_assignment - messy_order_assignment.csv")

data_cleaning_challenge.head(5)

,order_id,customer_email,Product_Name,unit_price,qty,customer_status,order_date
0,2034,eve@email.com,Wireless Mouse,77.67,1,NEW,NaN
1,2034,BOB@EMAIL.COM,phone case,55,3,returning,NaN
2,2003,eve@email.com,HEADPHONES,MISSING,4,NEW,NaN
3,2043,BOB@EMAIL.COM,Wireless Mouse,MISSING,5,Returning,NaN
4,2048,charlie@email.com,wireless mouse,67.49,4,NEW,NaN

#### Remove extra spaces, lowercase, use underscores

In [92]:
 # Replace 'MISSING' and '' with np.nan

# checking for missing and empty strings

missing_prices = (data_cleaning_challenge["unit_price"] == "MISSING").sum()

print(missing_prices)

108

In [93]:
# replacing the MISSING values with nan values to recognize by python

data_cleaning_challenge["unit_price"] = data_cleaning_challenge["unit_price"].replace("MISSING", np.nan)

data_cleaning_challenge["unit_price"].head(5)

0    77.67
1       55
2      NaN
3      NaN
4    67.49
Name: unit_price, dtype: object

In [94]:
# Check current data types

print("Current data types:")
print(data_cleaning_challenge.dtypes)

Current data types:
order_id            int64
customer_email     object
Product_Name       object
unit_price         object
qty                 int64
customer_status    object
order_date         object
dtype: object

In [95]:
# Convert unit_price to numeric

data_cleaning_challenge['unit_price'] = pd.to_numeric(data_cleaning_challenge['unit_price'], errors='coerce')

# View top values
print(data_cleaning_challenge['unit_price'].head())

0    77.67
1    55.00
2      NaN
3      NaN
4    67.49
Name: unit_price, dtype: float64

In [96]:
# Fill missing prices with the median price 

# Strategy 2: Fill missing values with median

# Step 1: Create a copy

data_cleaning_filling = data_cleaning_challenge.copy()

In [97]:
# Step 2: Convert 'Price' column to numeric in the COPY

data_cleaning_filling["unit_price"] = pd.to_numeric(data_cleaning_filling["unit_price"], errors="coerce")

In [98]:
# Step 3: Calculate median (safe, now it's numeric)

median_price = data_cleaning_filling["unit_price"].median()

In [99]:
# Step 4: Fill missing values with the median

data_cleaning_filling["unit_price"] = data_cleaning_filling["unit_price"].fillna(median_price)

data_cleaning_filling["unit_price"].head(5)

0    77.67
1    55.00
2    82.48
3    82.48
4    67.49
Name: unit_price, dtype: float64

In [100]:
# Fill missing dates with foward filling

data_cleaning_filling["order_date"] = data_cleaning_filling["order_date"].ffill()

In [101]:
# Fill missing dates with backward filling

data_cleaning_filling["order_date"] = data_cleaning_filling["order_date"].bfill()

In [102]:

print(data_cleaning_filling.isnull().sum())

order_id           0
customer_email     0
Product_Name       0
unit_price         0
qty                0
customer_status    0
order_date         0
dtype: int64

 ### Fix inconsistent formatting:

In [103]:
# Strip and title-case Product_Name

data_cleaning_challenge.rename(columns={"Product_Name": "Product Name"}, inplace=True)

print(data_cleaning_challenge.columns.tolist())

['order_id', 'customer_email', 'Product Name', 'unit_price', 'qty', 'customer_status', 'order_date']

In [104]:
# Standardize customer_status to 'New' and 'Returning'

# Step 1: Convert to lowercase to standardize text
data_cleaning_challenge['customer_status'] = data_cleaning_challenge['customer_status'].str.lower()

In [105]:
# Step 2: Map cleaned values to standard ones
data_cleaning_challenge['customer_status'] = data_cleaning_challenge['customer_status'].map({
    'new': 'New',
    'returning': 'Returning'
})

In [106]:

print(data_cleaning_challenge['customer_status'].unique())

['New' 'Returning']

In [107]:
# Lowercase all emails

data_cleaning_challenge['customer_email'] = data_cleaning_challenge['customer_email'].str.lower()

In [108]:
print(data_cleaning_challenge['customer_email'].head(10))

0        eve@email.com
1        bob@email.com
2        eve@email.com
3        bob@email.com
4    charlie@email.com
5        bob@email.com
6      diana@email.com
7      alice@email.com
8    charlie@email.com
9    charlie@email.com
Name: customer_email, dtype: object

### Remove duplicate rows

In [109]:
# Check for duplicates

print(f"Total rows: {len(data_cleaning_challenge)}")

print(f"Duplicate rows: {data_cleaning_challenge.duplicated().sum()}")

Total rows: 230
Duplicate rows: 10

In [110]:
# Remove duplicates based on specific columns
# unit_price: float

data_cleaning_challenge = data_cleaning_challenge.drop_duplicates(subset=['unit_price'])
print("Duplicates unit_price removed!")

Duplicates unit_price removed!

In [111]:
# order_date: datetime

data_cleaning_challenge = data_cleaning_challenge.drop_duplicates(subset=['order_date'])
print("Duplicates order_date removed!")

Duplicates order_date removed!